body { 
  background-color: hsl(218, 28%, 13%);
  color: white;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin-right: auto;
    width: 90px; 
}

.link{ 
    margin-right: .75em;
    text-decoration:none;
    color: white;
    font-size: .8rem;
}

.hero-img{
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 2em;
}

.pitch, .feature-title{
    text-align: center; 
}

.about-fylo{
    text-align: center;
    padding: .7em;
}

.get-started { 
    width: 200px;
    display: block;
    padding: .75em 1em;
    border-radius: 20px;
    margin: 0 auto; 
    background-image: linear-gradient(to right,  hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
    color: white;
    font-weight: bold;
}

.feature-section{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2em 0em; 
}

.feature-img{
   width: 75px;
   object-fit: contain; 
   margin: 0 auto;
}

.feature-info{
    text-align: center; 
    padding: .25em;
}

.productive-section{
    width: 95%; 
    margin: 0 auto; 
}

.productive-img{
    width: 300px;
    max-width: 300px;
    margin: 0 auto; 
    display: block;
    object-fit: contain;
}

.productive-title{
    font-size: 1rem;
    font-weight: bold;  
}

/* .productive-paragraph{

} */

.demo-link{ 
    text-decoration: none;
    color:hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 5px;
}


.review{
    
}